<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="Y21pVlJUY3UWPiUPZzYrHzxeGWUVHwYhGhU/BiQAC0AbQFoMKzNbJg==">
    <title>常见问题_傲宇论文检测</title>
    <meta  name="description" content="★傲宇★论文检测-全球首个中文论文相似度检测网站;提供论文查重,免费论文检测系统,毕业论文抄袭检测。最权威,动态指纹技术保障,已服务超300万人论文检测。"/>
    <meta name="keywords" content="论文,论文检测,论文查重,免费论文检测,检测系统,论文抄袭,毕业论文"/>
    <link href="../css/bootstrap.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet"></head>
<body>
        <style type="text/css">
        /*闪动new小图标*/
        .topnavli{position: relative}
        .new{position: absolute;
            top: 6px;
            right: 8px;
            width: 16px;
            height: 18px;
        }
    </style>
    <header class="top">
        <!--[if lt IE 9]>
        <div class="top">
        <![endif]-->
        <div class="top_con">
            <div class="topimg pull-left"><a href="/" class="topimgsize"></a></div>
                            <div class="topbtn pull-right">
                    <a href="../index.html" class="btn_login">登录</a>
                    <a href="signup.html" class="btn_sign">注册</a>
                </div>
                        <ul class="topnav pull-right">
            <li><a href="../index.html"  class="topnavli ">首页</a></li><li><a href="check.html"  class="topnavli ">查询真伪</a></li><li><a href="faq.html"  class="topnavli activenav">常见问题</a></li><li><a href="jigou.html" target=_blank class="topnavli ">机构版</a></li> </ul>
        </div>
        <!--[if lt IE 9]>
        </div>
        <![endif]-->
    </header>
    <div class="flashInfo">
            </div>
    <style type="text/css">
    #lhh-help{height: 100%; min-height: 850px; background: #f5f5f5;padding-top: 50px;}
    #lhh-help .row{ margin: 0;}
    #lhh-help iframe{width: 100%; min-height: 700px; margin-top: 16px;}
    #lhh-help h2{font-size: 32px;font-weight: normal; margin: 0 0 40px 0;}
    #lhh-help h2 a{color: #f06541;}
    #lhh-help .secondary{float: left; padding-left: 0; width: 40%;}
    #lhh-help .primary{ float: left; padding-right: 0;position: relative;top: -30px; width: 50%; *width:49%; }
    #help-line li{position: relative; height: 65px; padding-left: 25px; }
    .help-line-block{width: auto; height: 30px;line-height: 30px;white-space: nowrap}
    .help-line-block a{ color: #363b3c; font-size: 16px;}
    .help-line-block a:hover,
    .help-line-block a:focus
    {
        color: #56b282;
    }
    .help-line-block span{ color: #363b3c; font-size: 16px;}
    .help-line-prev{
        position: absolute;
        left: 0px;
        top: 10px;
    }
    .help-circle{
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: #99b2ab;
    }
    .help-v-line{
        width: 2px;
        height: 45px;
        background-color: #bbbcbb;
        margin-left: 5px;
        margin-top: 5px;
    }
    .bg-help-cicle{ background-color: #f1ad9b;}
    .help-article{
        margin-bottom: 56px;
    }
    .help-article h3{
        font-size: 19px;
        color: #5baf82;
        text-decoration: none;
    }
    .help-article p{
        color: #545454;
    }
</style>



<div id="lhh-help">
    <div class="w-page">
        <h2><a href="faq.htm" target="i_content">常见问题</a></h2>
        <div class="row">
            <div class="secondary">
                <ul id="help-line">
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_purpose">傲宇的宗旨是什么？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_students">傲宇面向的用户群有哪些？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_free"> 傲宇为什么不是免费的？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_zhiwenku">比对指纹数据库有哪些？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_articleclass">可以检测哪些类别的文章？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_scan">比对指纹数据库是否拥有所有文字资料？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_detect">傲宇能否认定抄袭？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_fabiao">傲宇能检测已发表论文吗？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_ref">关于引用检测的说明</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_submit">如何使用傲宇检测论文？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_large">单次最多可以提交多少字？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_database">检测的论文是否会被添加到比对数据库？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_myteacher">我的导师能看到我论文检测报告吗？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_passother">通过傲宇检测后能通过学校等系统的检测吗？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_results">提交论文后多久能获得检测报告？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_sb">自建库是什么？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_sb_use">自建库怎么用？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_sb_content">自建库都需要放什么内容？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_sb_limit">自建库有限制吗？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_sb_delete">自建库怎么删除？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                            <div class="help-v-line"></div>
                        </div>
                    </li>
                    <li>
                        <div class="help-line-block">
                            <a href="#faq_sb_record">自建库的文章会收录吗？</a>
                        </div>
                        <div class="help-line-prev">
                            <div class="help-circle"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="primary">
                <h3>常见问题</h3>
                <div class="help-article" id="faq_purpose">
                    <h3>傲宇的宗旨是什么？</h3>
                    <p>多年来，教育工作者和广大学生都强烈要求论文抄袭检测系统的出现。教育工作者不断告诉我们，他们的学生总是不知道该如何处理手中拥有的论文参考资料。对于许多学生来说，一份能清楚展示自己论文中存在的问题的分析报告，可以帮助他们很清晰地理解在论文写作过程中犯下的错误。用户使用傲宇的初衷是：把它作为写作辅助工具，而不是作为一种逃避自己任务的工作方式。</p>
                </div>
                <div class="help-article" id="faq_students">
                    <h3>傲宇面向的用户群有哪些？</h3>
                    <p>机构和个人都可以使用傲宇系统，机构包括学校、期刊社、出版社、企业等，个人包括在校学生、职称评定者、作者等。</p>
                </div>
                <div class="help-article" id="faq_free">
                    <h3>系统为什么要收取少量的检测费用？</h3>
                    <p>用户需对“免费”的抄袭检测服务保持警惕性。有些网站提供免费的抄袭检测服务，但却私自把用户提交的论文出售。所以“免费”的代价可能超出你的预想。傲宇从来不利用、转售或者分享用户提交的论文。运营多年来，我们已经取得了广大用户的信任并建立了全球中文知识产权保护服务的领导者声誉。</p>
                </div>
                <div class="help-article" id="faq_zhiwenku">
                    <h3>比对指纹数据库有哪些？</h3>
                    <p>傲宇的比对指纹数据库由超过9000万的学术期刊和学位论文，以及一个超过10亿数量的互联网网页数据库组成。指纹库是指提取的文章关键性特征信息，并非全文。</p>
                </div>
                <div class="help-article" id="faq_articleclass">
                    <h3>可以检测哪些类别的文章？</h3>
                    <p>傲宇系统的检测范围涵盖所有中文类别，包括哲学、经济学、管理学、法学、社会科学、教育学、文学、艺术学、历史学、理学、工学、农学、医学、政治学、军事学等。</p>
                </div>
                <div class="help-article" id="faq_scan">
                    <h3>比对指纹数据库是否拥有所有文字资料？</h3>
                    <p>虽然比对指纹数据库拥有大量的文字资料，但它目前无法囊括有史以来所有的文件。由于有许多书及文字资料，无法以电子文档（数字）形式进行访问或利用，所以他们不是我们数据库的一部分。</p>
                </div>
                <div class="help-article" id="faq_detect">
                    <h3>傲宇能否认定抄袭？</h3>
                    <p>傲宇从庞大的指纹数据库中找出与用户提交的文本相匹配的文档材料并进行分析，找出的相似文本有可能是您已经合适并正确引用的文本，所以不一定是抄袭。您只需要确认每一个被标注相似的地方是否被正确引用，概括或转述。因此，傲宇使您更容易识别论文中的可疑部分，避免您无意中的“抄袭”。</p>
                </div>
                <div class="help-article" id="faq_fabiao">
                    <h3>傲宇能检测已发表论文吗？</h3>
                    <p>傲宇可以检测已发表论文，但由于傲宇无意于成为已发表论文的学术审查工具，在不能明确检测者真实意图的情况下，本着无伤害原则，将屏蔽检测报告中的部分结果。</p>
                </div>
                <div class="help-article" id="faq_ref">
                    <h3>关于引用检测的说明</h3>
                    <p>由于存在引注格式不统一、参考文献格式不规范、虚假引用等问题，傲宇为了给用户提供严格、负责的检测结果，将不再区分“相似”和“引用”。傲宇检测系统是在论文修改环节为用户提供修改依据的工具，系统所显示的相似部分(红字)是否属于正常引用将保留给用户自行审定。</p>
                </div>
                <div class="help-article" id="faq_submit">
                    <h3>如何使用傲宇检测论文？</h3>
                    <p>您在登录傲宇网站后，需要注册申请一个用户名和密码，注册成功并且登录后，根据所要检测的论文字数进行充值。充值成功后即可按操作提示提交检测论文。</p>
                </div>
                <div class="help-article" id="faq_large">
                    <h3>单次最多可以提交多少字？</h3>
                    <p>单次提交的论文总字数最大可支持10万，如果您的论文大于10万字，请把论文切分成多个部分多次提交检测。</p>
                </div>
                <div class="help-article" id="faq_database">
                    <h3>检测的论文是否会被添加到比对数据库？</h3>
                    <p>不会。傲宇不会将您提交的任何文件添加到比对数据库。因此，如果您的学校或导师将您的论文提交到傲宇检测，在傲宇上看到的仍是原始文件。</p>
                </div>
                <div class="help-article" id="faq_myteacher">
                    <h3>我的导师能看到我论文检测报告吗？</h3>
                    <p>不行。系统需要登录才能查看，如果您的导师要查看到你的论文检测报告，您可以通过电子邮件附件发等其它方式将您的检测报告发送给他们。</p>
                </div>
                <div class="help-article" id="faq_passother">
                    <h3>通过傲宇检测后能通过学校等系统的检测吗</h3>
                    <p>傲宇系统是全球首个中文文献相似度比对系统，是可信赖的中文原创性检查和预防剽窃的在线网站。 其比对库涵盖了海量的中文文献和网络资源，强大的技术和海量的资源为傲宇打下了坚实的基础。 另外傲宇目前已经为众多的机构和检测系统提供技术方案。
                        所以通过傲宇的检测后，可以通过其它检测系统的检测。</p>
                </div>
                <div class="help-article" id="faq_results">
                    <h3>提交论文后多久能获得检测报告？</h3>
                    <p>通常情况下，整个检测过程需要5至10分钟。如果是在论文检测的高峰期，则可能需要更长的时间。</p>
                </div>
                <div class="help-article" id="faq_sb">
                    <h3>自建库是什么？</h3>
                    <p>自建库是您自主建立的对比源，由于每家检测系统数据库有差异，所以自主建立对比库是非常有必要的。您建立成功后，提交检测的论文会跟您的自建库，系统的本地库，以及网络库进行对比检测。</p>
                </div>

                <div class="help-article" id="faq_sb_use">
                    <h3>自建库怎么用？</h3>
                    <p>在帐号有余额的情况下，方可建立自建库。</p>
                    <p>在提交论文时，请注意勾选自建库。</p>
                </div>

                <div class="help-article" id="faq_sb_content">
                    <h3>自建库都需要放什么内容？</h3>
                    <p>如您写作时参考的论文，要求检测重复率的，就需要您配合自建库使用，把参考的部分放到自建库里。</p>
                </div>

                <div class="help-article" id="faq_sb_limit">
                    <h3>自建库有限制吗？</h3>
                    <p>自建库文章的总字数小于10万字，总共可以上传10篇文章。</p>
                </div>

                <div class="help-article" id="faq_sb_delete">
                    <h3>自建库怎么删除？</h3>
                    <p>系统只保留3个月内的自建库文章。</p>
                </div>

                <div class="help-article" id="faq_sb_record">
                    <h3>自建库的文章会收录吗？</h3>
                    <p>我们是无痕检测，自建库只能您本人看到，不会自动收录。</p>
                </div>
            </div>
        </div>
    </div>
</div>




    <footer class="copyright">
        <!--[if lt IE 9]>
        <div class="copyright">
        <![endif]-->
        Copyright © 2007-2018 aoyucc.com.    浙ICP备12040071号-2. 京公网安备1101082012626. 浙ICP证140121号  All Rights Reserved.
        <span style="display: none">
            <script>
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?6eac42ccc7cb1da39d1b58de160ef339";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>
        </span>
        <!--[if lt IE 9]>
        </div>
        <![endif]-->
    </footer>
    <script type="text/javascript">
        function openWin(u, w, h) {
            var l = (screen.width - w) / 2;
            var t = (screen.height - h) / 2;
            var s = 'width=' + w + ', height=' + h + ', top=' + t + ', left=' + l;
            s += ', toolbar=no, scrollbars=no, menubar=no, location=no, resizable=no';
            open(u, 'oWin', s);
        }
    </script>
    <script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/yii.js"></script>
<script src="../js/bootstrap.js"></script>
<script type="text/javascript">jQuery(document).ready(function () {

    $(function () {


        $(".help-line-block a").click(function(){
            $(".help-line-block a").css({"color":"#363b3c"});
            $(this).css({"color":"#56b282"});
        });

    });

});</script></body>
</html>
